<%- include('partials/header'); -%>

<form >
    <h2>Forget Password</h2>
    <label for = "email">Email</label>
    <input type="text" name="email" required/>
    <div class="email error"></div>
    <button>Send new password</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailerror =document.querySelector('.email.error');
    form.addEventListener('submit', async(e)=>{
        e.preventDefault();

        //reset errors
        emailerror.textContent="";

        //get the values
        const email = form.email.value;

        try {
            const res = await fetch('/forgetpassword',{
                method:'POST',
                body: JSON.stringify({email:email}),
                headers:{'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors){
                
                emailerror.textContent=data.errors.email;
            }
            if (data.user){
                location.assign('/');
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
<%- include('partials/footer'); -%>
